{% extends 'base/auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} password changed
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card signup">
                <h2 class="mx-2"><strong>Password change successful</strong></h2>
                <div class="card-body signup">
                    Your password was changed.
                </div>
                
            </div>
        </div>
        <div class="col"></div>
    </div>
    
{% endblock content %}


