{% extends 'base/auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} Signup
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card signup">
                <h2 class="mx-2"><strong>Create an account</strong></h2>
                <div class="card-body signup">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class='btn btn-primary my-2' value="Signup">
                        <p class="text-muted bg-light text-center">Already have an account? <a href="{% url 'login' %}">Login Now</a></p>

                    </form>
                </div>
                
            </div>
        </div>
        <div class="col"></div>
    </div>
    
{% endblock content %}


